version: "3.9"

services:

  frotend:
    container_name: oscar_do_sertao
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
